#changetheme_button{
    transition: box-shadow 0.3s ease;
}

#changetheme_button:hover
{
    box-shadow: 0px 0px 12px 3px rgba(135, 206, 235, 1);
}

#date-time
{
    font-size: 20px;
}

#short_intro
{
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
    padding: 12px;
    border-radius: 12px;
    color: #231e1e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;

}